.container {
  padding: 10px 0px;
}
.headerWrapper {
  padding: 0;
  display: flex;
  margin-block-end: 1em;
  background-color: #fff;
}

.contentWrapper {
  padding: 0.9375rem 2.875rem;
  height: 3.75rem;
  font-size: 1rem;
  display: flex;
}

.highlight {
  background: var(--nc-primary);
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
}

.titleWrapper {
  display: flex;
  position: relative;
  max-width: 100%;
  align-items: center;
  color: var(--nc-primary);
  font-weight: 600;
}

.productWrapper {
  max-width: 16.66%;
}
.countdown {
  margin-left: 10px;
  display: flex;
  position: relative;
  align-items: center;
}

.flashSaleImage {
  background: url("/src/assets/images/flashSale.png") 50% no-repeat;
  width: 114px;
  height: 30px;
  background-size: contain;
}
